

<link rel="stylesheet" href="/stylesheets/topnav.css" />
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />



<div id="particles-js"></div>

{{#if user}}
  <input type="hidden" id="userID" value={{user.username}} >
{{else}}
  <input type="hidden" id="userID" value="DefaultUserID" >
{{/if}}


<div class="topnav" style="visibility:hidden">
  <div class="login-container">
    <form>
      <input type="text" id="remoteid"  placeholder="Remot User" autocorrect=off autocapitalize=off required/>
      <button type="button"  id="leave-room" class="btn btn-danger" onclick="" >Hungup</button>
      <button type="button"  id="open-room" class="btn btn-success" onclick="call(this)" >Call</button>
    </form>
  </div>
</div>


<div style="margin-top:15%;">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="list-group" id="list-users">
        <a class="list-group-item list-group-item-action h4 text-center text-light bg-secondary"> On line Users </a>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript" src="javascripts/socket.io.js"></script>
<script type="text/javascript" src="javascripts/Users.js"></script>
