<div id="particles-js"></div>
<script type="text/javascript" src="/javascripts/particles.min.js"></script>
<script >
/* particlesJS.load(@dom-id, @path-json, @callback (optional)); */
particlesJS.load('particles-js', '../particlesjs-config.json', function() {
});
</script>

  <div id="logo" class="col-xs-4 col-sm-6 col-lg-7" >
    <img src="/images/rgrid.png" class="img-responsive" style="width: inherit" />
    <h1 class="text-light text-center">Register</h1>
  </div>

  <!-- REGISTER FORM -->
  <form action="/register" method="post" class="col-xs-5 col-sm-7 col-lg-9" >
      <div class="form-group">
        <label class="text-light">Name</label>
        <input type="text" class="form-control" placeholder="Name" name="name">
      </div>
      <div class="form-group">
        <label class="text-light">Username</label>
        <input type="text" class="form-control" placeholder="Username" name="username">
      </div>
      <div class="form-group">
          <label class="text-light">Email</label>
          <input type="text" class="form-control" placeholder="Email" name="email">
      </div>
      <div class="form-group">
          <label class="text-light">Password</label>
          <input type="password" class="form-control" placeholder="Password" name="password">
      </div>
      <div class="form-group">
        <label class="text-light">Confirm Password</label>
        <input type="password" class="form-control" placeholder="Password" name="password2">
      </div>

      <button type="submit" class=" text-light btn btn-success btn-lg">Register </button>
  </form>
