

<link rel="stylesheet" href="/stylesheets/topnav.css" />

<input type="hidden" id="meetingRoom" value="">

{{#if user}}
  <input type="hidden" id="userID" value={{user.username}} >
{{else}}
  <input type="hidden" id="userID" value="DefaultUserID" >
{{/if}}


<div id="particles-js"></div>




<div class="topnav">
  <div class="login-container">
    <form >
      <input type="text" id="room-id"  placeholder="Remot User" autocorrect=off autocapitalize=off >
      <button type="button"  id="leave-room" class="btn btn-danger" onclick="leaveRoom()" >Hungup</button>
      <button type="button"  id="open-room" class="btn btn-success" onclick="call()" >Call</button>
    </form>
  </div>
</div>



<div id="video">
  <div class="panel panel-default">
    <div class="panel-body">
      <!-- Local Stream -->
      <div class="local-video-wrap">
        <div class="local-video" id="local-vid"></div>
      </div>
      <!-- remote Stream -->
      <div class="remote-video-wrap">
        <div class="remote-video" id="remote-vid"></div>
      </div>
    </div>
  </div>
</div>




<div id="messages">
    <div class="panel panel-default">
      <ul class="list-group" >
          <li class="list-group-item">
              <div class="input-group">
                <span class="input-group-btn">
                  <button class="btn btn-default direct-user"  type="button">@</button>
                </span>
                <input type="text" class="form-control message-text" id="input-text" autocomplete="off" placeholder="Type your message here" />
                <span class="input-group-btn">
                  <button id="send" class="btn btn-default" onclick="sendMessage()">Send!</button>
                </span>
              </div>
          </li>
      </ul>
    </div>
</div>







<!-- Globales Js Non Separate

<script type="text/javascript" src="cordova.js"></script>
<script type="text/javascript" src="javascripts/DetectRTC.js"></script>
<script type="text/javascript" src="javascripts/adapter.js"></script>
<script type="text/javascript" src="javascripts/popper.js"></script>
<script type="text/javascript" src="javascripts/socket.io.js"></script>
<script type="text/javascript" src="javascripts/index.js"></script>
<script type="text/javascript" src="javascripts/RTCMultiConnection.js"></script>
<script type="text/javascript" src="javascripts/FileBufferReader.js"></script>
<script type="text/javascript" src="javascripts/getHTMLMediaElement.js"></script>
<script type="text/javascript" src="javascripts/getStats.js"></script>
<script type="text/javascript" src="javascripts/MediaStreamRecorder.js"></script>

 -->


<!--  Globales JS

<script type="text/javascript" src="javascripts/globals.js"></script>
<script type="text/javascript" src="javascripts/DetectRTC.js"></script>
<script type="text/javascript" src="javascripts/CodecsHandler.js"></script>
<script type="text/javascript" src="javascripts/RTCPeerConnection.js"></script>
<script type="text/javascript" src="javascripts/IceServers.js"></script>
<script type="text/javascript" src="javascripts/Screen-Capturing.js"></script>
<script type="text/javascript" src="javascripts/TranslationHandler.js"></script>
<script type="text/javascript" src="javascripts/Messenger.js"></script>
<script type="text/javascript" src="javascripts/FileProgressBarHandler.js"></script>
<script type="text/javascript" src="javascripts/ios-hacks.js"></script>
<script type="text/javascript" src="cordova.js"></script>
<script type="text/javascript" src="javascripts/popper.js"></script>
<script type="text/javascript" src="javascripts/FileBufferReader.js"></script>
<script type="text/javascript" src="javascripts/getStats.js"></script>
<script type="text/javascript" src="javascripts/MediaStreamRecorder.js"></script>
<script type="text/javascript" src="javascripts/stream.js"></script>
/Globales JS-->



<!-- Custom1 -->

<script type="text/javascript" src="cordova.js"></script>
<script type="text/javascript" src="javascripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="javascripts/DetectRTC.js"></script>
<script type="text/javascript" src="javascripts/popper.js"></script>
<script type="text/javascript" src="javascripts/index.js"></script>
<script type="text/javascript" src="javascripts/socket.io.js"></script>
<script type="text/javascript" src="javascripts/RTCMultiConnection.js"></script>
<script type="text/javascript" src="javascripts/FileBufferReader.js"></script>
<script type="text/javascript" src="javascripts/getHTMLMediaElement.js"></script>
<script type="text/javascript" src="javascripts/getStats.js"></script>
<script type="text/javascript" src="javascripts/adapter.js"></script>
<script type="text/javascript" src="javascripts/MediaStreamRecorder.js"></script>


<!-- /Custom1 -->


<!--  Custom2
<script type="text/javascript" src="javascripts/DetectRTC.js"></script>
<script type="text/javascript" src="javascripts/adapter.js"></script>
<script type="text/javascript" src="javascripts/RTCPeerConnection.js"></script>
<script type="text/javascript" src="javascripts/stream.js"></script>
<script type="text/javascript" src="javascripts/globals.js"></script>
<script type="text/javascript" src="javascripts/Messenger.js"></script>
<script type="text/javascript" src="javascripts/FileBufferReader.js"></script>
<script type="text/javascript" src="javascripts/CodecsHandler.js"></script>


<script type="text/javascript" src="javascripts/getHTMLMediaElement.js"></script>
<script type="text/javascript" src="javascripts/IceServers.js"></script>
<script type="text/javascript" src="javascripts/socket.io.js"></script>
<script type="text/javascript" src="javascripts/RTCMultiConnection.js"></script>
<script type="text/javascript" src="javascripts/index.js"></script>

/Custom2 -->
