.login-form {
  text-align: center;
  width: 80%;
  margin: 30px auto 0;
}

input[type=email], input[type=password] {
  display: block;
  width: 100%;
  margin: 0 auto;
  outline: none;
  height: 100%;
  padding-top: 15px;
  padding-bottom: 16px;
}

.login-button {
  width: 100%;
  margin: 0 auto;
}

.forgot-password {
  display: block;
  margin: 8px auto 0 auto;
  font-size: 14px;
}
.hidden {
  display: none;
}

a {
  color: #4285F4;
  text-decoration: none;
}

a:hover {
  color: #3B78E7;
  text-decoration: underline;
}

#room-link a {
  white-space: nowrap;
}

#videos {
  font-size: 0; /* to fix whitespace/scrollbars problem */
  height: 100%;
  pointer-events: none;
  position: absolute;
  transition: all 1s;
  width: 100%;
}

#videos.active {
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

footer > div {
  background-color: black;
  bottom: 0;
  color: white;
  display: none;
  font-size: .9em;
  font-weight: 300;
  line-height: 2em;
  max-height: 80%;
  opacity: 0;
  overflow-y: auto;
  padding: 10px;
  position: absolute;
  transition: opacity 1s;
  width: calc(100% - 20px);
}

html {
  height: 100%;
  margin: 0;
  width: 100%;
}

label {
  margin: 0 10px 0 0;
}

#local-video {
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;  /* no letterboxing */
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
  transition: opacity 1s;
  width: 100%;
}

#mini-video {
  border: 1px solid gray;
  top: 20px;
  right: 20px;
  z-index: 1;
  /* video div is flipped horizontally when active*/
  max-height: 17%;
  max-width: 17%;
  position: absolute;
  transition: opacity 1s;
}

#mini-video.active {
  opacity: 1;
  z-index: 2;
}

#remote-video {
  display: block;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;  /* no letterboxing */
  position: absolute;
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  transition: opacity 1s;
  width: 100%;
}

#remote-video.active {
  opacity: 1;
  z-index: 1;
}
.progress-circular {
    -webkit-animation: progress__rotate 2s linear infinite;
    -moz-animation: progress__rotate 2s linear infinite;
    -o-animation: progress__rotate 2s linear infinite;
    animation: progress__rotate 2s linear infinite;
    height: 250px;
    position: relative;
    width: 250px;
  }
  .progress-circular__primary {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    -webkit-animation: progress__dash 1.5s ease-in-out infinite;
    -moz-animation: progress__dash 1.5s ease-in-out infinite;
    -o-animation: progress__dash 1.5s ease-in-out infinite;
    animation: progress__dash 1.5s ease-in-out infinite;
    stroke: #415ed1;
    -webkit-transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
  }

  @-moz-keyframes progress__rotate {
    100% {
      -moz-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes progress__rotate {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-o-keyframes progress__rotate {
    100% {
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes progress__rotate {
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-moz-keyframes progress__dash {
    0% {
      stroke-dasharray: 10%, 241.32%;
      stroke-dashoffset: 0%;
    }
    50% {
      stroke-dasharray: 201%, 50.322%;
      stroke-dashoffset: -100%;
    }
    100% {
      stroke-dasharray: 10%, 241.32%;
      stroke-dashoffset: -251.32%;
    }
  }
  @-webkit-keyframes progress__dash {
    0% {
      stroke-dasharray: 10%, 241.32%;
      stroke-dashoffset: 0%;
    }
    50% {
      stroke-dasharray: 201%, 50.322%;
      stroke-dashoffset: -100%;
    }
    100% {
      stroke-dasharray: 10%, 241.32%;
      stroke-dashoffset: -251.32%;
    }
  }
  @-o-keyframes progress__dash {
    0% {
      stroke-dasharray: 10%, 241.32%;
      stroke-dashoffset: 0%;
    }
    50% {
      stroke-dasharray: 201%, 50.322%;
      stroke-dashoffset: -100%;
    }
    100% {
      stroke-dasharray: 10%, 241.32%;
      stroke-dashoffset: -251.32%;
    }
  }
  @keyframes progress__dash {
    0% {
      stroke-dasharray: 10%, 241.32%;
      stroke-dashoffset: 0%;
    }
    50% {
      stroke-dasharray: 201%, 50.322%;
      stroke-dashoffset: -100%;
    }
    100% {
      stroke-dasharray: 10%, 241.32%;
      stroke-dashoffset: -251.32%;
    }
  }

/*calling*/

.h-list, .actions {
  margin: 0;
  padding: 0;
  list-item-style: none;
}
.h-list > li, .actions > li {
  display: inline-block;
}

/* main */
.container {
  position: relative;
  height: 140px;
  width: 300px;
  margin: 20px auto;
  -webkit-perspective: 600px;
          perspective: 600px;
}

.call {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  color: #ecf0f1;
  padding: 10px;
  border-radius: 4px;
  transition: all 1s, background-color 600ms, opacity 600ms;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.ringing {
  z-index: 10;
  background-color: #80bbee;
}

.hold {
  background-color: #E9B863 !important;
}

.speaking {
  background-color: #88cfaf;
}

.wrapup {
  background-color: #ff7980;
}

/* inner */
.head {
  font-size: 42px;
  text-align: center;
  margin: 0 auto;
}

.details {
  color: #ecf0f1;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
}

.actions {
  width: 100%;
  padding: 2px 16px;
  box-sizing: border-box;
}

.action {
  margin-left: -2px;
  margin-right: -2px;
  width: 50%;
  padding: 0 8px 0 12px;
  box-sizing: border-box;
}
.action > a {
  width: 100%;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  padding: 5px 8px;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.6);
}
.action > a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* animation */
.-fadeout {
  -webkit-filter: blur(6px);
          filter: blur(6px);
  opacity: 0;
}

.-drop {
  -webkit-filter: blur(6px);
          filter: blur(6px);
  opacity: 0;
  -webkit-transform: translateY(20%) rotateX(20deg);
          transform: translateY(20%) rotateX(20deg);
}

.-flip {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.flipback {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.-ringing {
  -webkit-animation: _ringing 600ms infinite;
          animation: _ringing 600ms infinite;
  -webkit-animation-fill-mode: forward;
          animation-fill-mode: forward;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes _ringing {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  10% {
    -webkit-transform: translate(6px, 0px);
            transform: translate(6px, 0px);
    -webkit-transform: rotateZ(2deg);
            transform: rotateZ(2deg);
  }
  20% {
    -webkit-transform: translate(-6px, 0px);
            transform: translate(-6px, 0px);
    -webkit-transform: rotateZ(-2deg);
            transform: rotateZ(-2deg);
  }
  30% {
    -webkit-transform: translate(3px, 0px);
            transform: translate(3px, 0px);
    -webkit-transform: rotateZ(1deg);
            transform: rotateZ(1deg);
  }
  40% {
    -webkit-transform: translate(-3px, 0px);
            transform: translate(-3px, 0px);
    -webkit-transform: rotateZ(-1deg);
            transform: rotateZ(-1deg);
  }
  50% {
    -webkit-transform: translate(2px, 0px);
            transform: translate(2px, 0px);
    -webkit-transform: rotateZ(1deg);
            transform: rotateZ(1deg);
  }
  60% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes _ringing {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  10% {
    -webkit-transform: translate(6px, 0px);
            transform: translate(6px, 0px);
    -webkit-transform: rotateZ(2deg);
            transform: rotateZ(2deg);
  }
  20% {
    -webkit-transform: translate(-6px, 0px);
            transform: translate(-6px, 0px);
    -webkit-transform: rotateZ(-2deg);
            transform: rotateZ(-2deg);
  }
  30% {
    -webkit-transform: translate(3px, 0px);
            transform: translate(3px, 0px);
    -webkit-transform: rotateZ(1deg);
            transform: rotateZ(1deg);
  }
  40% {
    -webkit-transform: translate(-3px, 0px);
            transform: translate(-3px, 0px);
    -webkit-transform: rotateZ(-1deg);
            transform: rotateZ(-1deg);
  }
  50% {
    -webkit-transform: translate(2px, 0px);
            transform: translate(2px, 0px);
    -webkit-transform: rotateZ(1deg);
            transform: rotateZ(1deg);
  }
  60% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
/* eq */
.hidden {
  display: none;
}

.sound {
  font-size: 26px;
  position: absolute;
  top: -6px;
  right: -6px;
  opacity: .2;
  cursor: pointer;
}

.sound:hover {
  opacity: .5;
}

.fa-ban {
  color: tomato;
}

.head {
  height: 46px;
}

#eq {
  width: 220px;
  height: 46px;
}